* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  color: #fff;
}

body {
  /* background-image: linear-gradient(to right, #0d3aa9, #1357be); */
  background-image: linear-gradient(to right, #152238, #152238);
}

.App {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  margin: auto;
}

.heading {
  color: #fed000;
}

/* To design weather icon */
.weather-icon {
  color: yellow;
  position: relative;
  font-size: 35px;
  animation: sunRotation 5s infinite linear;
}

@keyframes sunRotation {
  to {
    transform: rotate(360deg);
  }
}

input {
  border: 1px solid white;
  outline: none;
  background-image: linear-gradient(to right, #152238, #152238);
  color: #000000;
}

input:focus {
  color: #000;
}
#text-field {
  background-color: White;
  border: 0;
  color: #fff;
}

::placeholder {
  color: #ff6600;
  opacity: 1;
}

.heading {
  text-align: center;
}
@media (min-width: 360px) and (max-width: 560px) {
  .heading {
    text-align: left;
    margin-left: 0px;
  }
}
